.correct {
    background-color:#42ba96;
}
.wrong {
    background-color: red;
}
li {
    width: 90%;
    font-size: 1.2rem;
    text-align: center;
    height: 3rem;
    border: 1px solid black;
    margin-bottom: 10px;
    padding-top: 20px;
    cursor: pointer;
    margin-left: 0;
}
li :focus {
    background-color: red;
}